<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
</head>
<body>
    <h1>Welcome back Admin!!</h1>
    <a href="{{url_for('addMovie')}}">Add Movies</a>

    <h2>Movie Search</h2>
    <form method="POST" action="/movies/search">
      {{form.hidden_tag()}}
      {{form.name}}
      {{form.director}}
      {{form.genre}}
      {{form.submit}}
  </form>

    <table style="width:100%">
        <tr>
          <th>Name</th>
          <th>Director</th>
          <th>Genre</th>
          <th>popularity</th>
          <th>imdb_score</th>
          <th>Action</th>
        </tr>
        {%for movie in movies%}
           <tr>
             <td>{{movie.name}}</td>
             <td>{{movie.director}}</td>
             <td>{{movie.genre}}</td>
             <td>{{movie.popularity}}</td>
             <td>{{movie.imdb_score}}</td>
             <td>
                <a href="/admin/delete/{{movie.id}}">Delete</a><br/>
                <a href="/admin/update/{{movie.id}}">Update</a>
             </td>
            </tr>
        {%endfor%}
      </table>   
      
      <a href="{{url_for('logout')}}">Log Out</a>
</body>
</html>